// @import "../../styles/global.scss";

a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 16px;
  margin: 8px 0;
  font-size: 1.1em;
  font-weight: bold;
  color: black;

  &:active {
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    color: gray;
  }

  &:last-child {
    background: black;
    color: white;
    border-radius: 36px;
  }

  &:last-child:hover {
    background: gray;
  }
}
