@import "../../styles/global.scss";

.main {
  display: flex;
  flex-direction: column;
}

@media (min-width: $breakpoint-tablet) {
  .main {
    margin: 0 10%;
  }
}

@media (min-width: $breakpoint-desktop) {
  .main {
    margin: 0 25%;
  }
}
