@import "../../styles/global.scss";

.pageLayout {
  // display: flex;
  // flex-direction: column;
  height: 100%;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 70px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .page-layout {
    margin: 0 10%;
  }
}

@media (min-width: $breakpoint-desktop) {
  .page-layout {
    margin: 0 25%;
  }
}
