//breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1284px;

//colors
$background-color: #f4f4f4;
$background-white: #ffffff;
$border-color: #e2e2e2;
$color-gray: rgb(119, 119, 119);
