@import "../../styles/global.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  // width: 100%;
  border-bottom: 1px solid $border-color;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 244, 244, 1) 33%,
    rgba(244, 244, 244, 1) 66%,
    rgba(255, 255, 255, 1) 100%
  );

  .stackWrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .image {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-image: url("../../images/me.jpg");
    background-position: center;
    background-size: cover;
  }

  .imageAnimated {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-image: url("../../images/me.jpg");
    background-position: center;
    background-size: cover;
    animation: rotate-image 1.2s ease;
  }

  .firstName,
  .lastName {
    font-size: 3em;
    font-weight: bold;
    text-transform: capitalize;
  }
  .jobTitle,
  .location {
    color: $color-gray;
    text-transform: uppercase;
  }
  .location {
    margin: 8px 0;
    font-size: 0.8em;
  }
  .jobTitle {
    font-weight: bold;
    font-size: 1.2em;
  }
}

@media (min-width: $breakpoint-tablet) {
  .card {
    margin-top: 54px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .card {
    padding-top: 54px;
  }
}

@keyframes rotate-image {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
