@import "../../styles/global.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid $color-border;
  background: $color-white;
  background: $gradient-background;

  .stackWrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .firstName,
  .lastName {
    font-size: 3em;
    font-weight: bold;
    text-transform: capitalize;
  }
  .jobTitle,
  .location {
    color: $color-gray;
    text-transform: uppercase;
  }
  .location {
    margin: 8px 0;
    font-size: 0.8em;
  }
  .jobTitle {
    font-weight: bold;
    font-size: 1.2em;
  }
}

@media (min-width: $breakpoint-tablet) {
  .card {
    margin-top: 54px;
  }
}
