@import "../../styles/global.scss";

.section-item {
  margin: 8px 0;

  p {
    font-size: 1.05em;
  }

  a {
    margin: 0;
    padding: 0;
  }

  .section-item-text {
    text-align: justify;
  }

  .section-item-title,
  .section-item-title-link {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
  }

  &:hover.section-item-title {
    color: black;
  }
}
