@import "../../styles/global.scss";

.sectionItem {
  margin: 8px 0;
  line-height: 1.6;

  a {
    margin: 0;
    padding: 0;
  }

  .sectionItemText,
  .sectionItemInfo {
    text-align: justify;
    font-size: 1.05em;
  }

  .sectionItemTitle,
  .sectionItemTitleLink {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
  }

  .sectionItemTitle {
    color: $color-gray;
  }

  .sectionItemTitleLink {
    text-decoration: underline;
    color: $color-black;

    &:hover {
      color: $color-gray;
    }
  }
}
