@import "../../styles/global.scss";

.sectionItem {
  margin: 8px 0;

  p {
    font-size: 1.05em;
  }

  a {
    margin: 0;
    padding: 0;
  }

  .sectionItemText {
    text-align: justify;
  }

  .sectionItemTitle,
  .sectionItemTitleLink {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
  }

  &:hover.sectionItemTitle {
    color: black;
  }
}
