@import "../../styles/global.scss";

@mixin navbar-common {
  position: fixed;
  border-top: 1px $color-border solid;
}

.navbar {
  background: $color-navbar;
  backdrop-filter: blur(5px);
  width: 100%;

  .navbarLinks {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: $breakpoint-mobile) {
  .navbar {
    @include navbar-common;
    bottom: 0;
  }
}

@media (min-width: $breakpoint-tablet) {
  .navbar {
    @include navbar-common;
  }
}

@media (min-width: $breakpoint-desktop) {
  .navbar {
    @include navbar-common;
    display: flex;
    justify-content: center;

    .navbarLinks {
      width: 60%;
    }
  }
}
