@import "../../styles/global.scss";

.navbar {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  width: 100%;

  .navbarLinks {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 8px;

    a {
      margin: 0;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .navbar {
    bottom: 0;
    position: fixed;
    border-top: 1px $border-color solid;
  }
}

@media (min-width: $breakpoint-tablet) {
  .navbar {
    position: fixed;
    border-bottom: 1px $border-color solid;
  }
}

@media (min-width: $breakpoint-desktop) {
  .navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    border-bottom: 1px $border-color solid;

    .navbarLinks {
      width: 60%;
    }
  }
}
