@import "../../styles/global.scss";

.sectionBox {
  padding: 16px;

  .sectionName {
    color: $color-gray;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  &:last-child {
    margin-bottom: 42px;
  }
}
