@import "../../styles/global.scss";

@mixin input {
  @include border;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 32px;
  font-size: 1.1em;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  .label {
    margin: 6px 16px;
    font-size: 1.2em;
  }

  .input[type="text"],
  .input[type="email"] {
    @include input;
    height: 36px;
    padding: 8px 16px;

    &:focus {
      @include box-shadow;
      outline: none;
      // background: $background-color;
    }

    &:hover {
      @include box-shadow;
    }
  }

  .textarea {
    @include input;
    padding: 16px 16px;
    resize: none;

    &:focus {
      @include box-shadow;
      outline: none;
    }

    &:hover {
      @include box-shadow;
    }
  }
}
