@import "../../styles/global.scss";

.socialMediaWrapper {
  display: flex;

  a {
    &:link {
      text-decoration: none;
      color: $color-black;
    }
    &:active {
      color: $color-black;
    }
    &:visited {
      color: $color-black;
    }
    &:hover {
      color: $color-gray;
    }
  }
}
